*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

html, body {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    background: #FAFFFD;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ///////////// */
/*    HEADING    */
/* ///////////// */


header {
    display: flex;
    background-color: #FA824C;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#myName {
    color: #FAFFFD;
    background-color: #342E37;
    margin: 0 16%;
    padding: 25px;
}

.Pages {
    margin: 0 10%;    
}

.Pages li {
    list-style: none;
    display: inline-block;
    float: left;
}

.Pages a {
    display: block;
    padding: 15px;
    margin: 0 20px;
    color: #ddd;
    text-decoration: none;
    text-transform: capitalize;
}

#About {
    order: 1;
}

#Portfolio {
    order: 2;
}

#Contact {
    order: 3;
}



/* ///////////// */
/*     MAIN      */
/* ///////////// */

#Main {
    flex: 1 0 auto;
}

.container {
    max-width: 960px;
    margin: 20px auto 7.5%;
    padding: 20px;
    background: #EAF2EF;
    font-size: 1.15em;
    line-height: 1.563em;
}

#mainTitle {
    color: #FF5E5B;
    margin: 20px 0 10px;
}

.line {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

#Me {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#firstP {
    clear: right;
    margin: 10% 0;
}

#secondP, #thirdP {
    clear: both;
    margin-top: 20px;
}

/* ///////////// */
/*     FOOTER    */
/* ///////////// */

footer {
    display: flex;
    background-color: #342E37;
    color: #FAFFFD;
    align-items: center;
    padding: 1%;
    justify-content: center;
    flex-shrink: 0;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }